/* =========================
   c-button--contact
========================= */
.c-button--contact {
  width: 33.5rem;
  height: 6rem;
  color: #fff;
  background-color: #CB0000;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 700;
  transition: background-color 0.4s ease, color 0.4s ease;
}
@media (min-width: 768px) {
  .c-button--contact {
    width: 30rem;
  }
  .c-button--contact:hover {
    background-color: #fff;
    color: #CB0000;
  }
}