@charset "UTF-8";
/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-web kit-details-marker {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Sans", "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
  margin: 0;
}

html.is-fixed,
body.is-fixed {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  outline: transparent;
  outline: none;
}

/* =========================
   HEADER
========================= */
.l-header {
  width: 100%;
  height: 5rem;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (min-width: 768px) {
  .l-header {
    height: 8rem;
  }
}
.l-header__inner {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
}
@media (min-width: 768px) {
  .l-header__inner {
    padding-inline: 3rem;
  }
}
.l-header {
  /* =========================
     LOGO
  ========================= */
}
.l-header__logo a {
  display: flex;
  align-items: center;
  column-gap: 0.95rem;
  height: 5rem;
}
@media (min-width: 768px) {
  .l-header__logo a {
    transition: opacity 0.4s ease;
  }
  .l-header__logo a:hover {
    opacity: 0.7;
  }
}
.l-header {
  /* =========================
     PC NAV
  ========================= */
}
.l-header__nav {
  display: none;
}
@media (min-width: 768px) {
  .l-header__nav {
    display: block;
  }
}
.l-header__nav ul {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.l-header__nav ul li:not(.is-contact) a {
  font-size: 1.7rem;
  line-height: 1.9411764706;
  font-weight: 700;
  color: #000;
  transition: opacity 0.4s ease;
  position: relative;
}
.l-header__nav ul li:not(.is-contact) a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
  transition: transform 0.7s ease;
}
.l-header__nav ul li:not(.is-contact) a:hover::after {
  transform: translateX(-50%) scaleX(1);
}
.l-header__nav ul .is-contact a {
  font-size: 1.5rem;
  line-height: 1.8666666667;
  font-weight: 700;
  background: #CB0000;
  color: #fff;
  border: 0.1rem solid #CB0000;
  padding: 1rem 3rem;
  transition: 0.4s ease;
}
@media (min-width: 768px) {
  .l-header__nav ul .is-contact a:hover {
    background-color: #fff;
    color: #CB0000;
  }
}
.l-header {
  /* =========================
     SP NAV
  ========================= */
}
.l-header__sp-nav {
  position: fixed;
  width: 30rem;
  top: 5rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  background: #CB0000;
  z-index: 2000;
}
.l-header__sp-nav.active {
  transform: translateX(0);
}
.l-header__sp-nav-lists {
  margin: 0;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  list-style: none;
  font-weight: 700;
}
.l-header__sp-nav-lists a {
  color: #fff;
  display: block;
  padding: 1.5rem 0 1rem 2rem;
}
.l-header {
  /* =========================
     HAMBURGER
  ========================= */
}
.l-header__hamburger {
  position: relative;
  z-index: 9999;
  display: block;
}
@media (min-width: 768px) {
  .l-header__hamburger {
    display: none;
  }
}
.l-header__hamburger .c-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 7.1rem;
  height: 5rem;
  background: #CB0000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.l-header__hamburger .c-hamburger .c-hamburger__line,
.l-header__hamburger .c-hamburger .c-hamburger__line::before,
.l-header__hamburger .c-hamburger .c-hamburger__line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 3.2rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 10px;
  transition: top 0.4s ease, transform 0.4s ease, background-color 0.4s ease;
  display: block;
}
.l-header__hamburger .c-hamburger .c-hamburger__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.l-header__hamburger .c-hamburger .c-hamburger__line::before {
  top: -1.2rem;
}
.l-header__hamburger .c-hamburger .c-hamburger__line::after {
  top: 1.2rem;
}
.l-header__hamburger .c-hamburger {
  /* ACTIVE（×変形） */
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line {
  background: transparent;
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line::after {
  top: 0;
  transform: rotate(-45deg);
}

/* =========================
   footer
========================= */
.l-footer {
  background: #CB0000;
}
.l-footer__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 5rem;
}
@media (min-width: 768px) {
  .l-footer__main {
    height: 30.3rem;
  }
}
.l-footer__inner {
  max-width: 72.2rem;
  margin: 0 auto;
  width: 100%;
}
.l-footer__nav {
  margin-top: 4.4rem;
}
.l-footer__nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 0.5rem;
}
.l-footer__nav li {
  text-align: center;
  display: flex;
  justify-content: center;
}
.l-footer__nav li a {
  font-size: 1.7rem;
  line-height: 1.9411764706;
  font-weight: 700;
  color: #fff;
  white-space: normal;
  display: block;
  text-align: center;
  white-space: nowrap;
}
@media (min-width: 768px) {
  .l-footer__nav li a {
    transition: opacity 0.4s ease;
  }
  .l-footer__nav li a:hover {
    opacity: 0.7;
  }
}
.l-footer__logo a {
  display: flex;
  justify-content: center;
  margin-top: 1.874rem;
}
@media (min-width: 768px) {
  .l-footer__logo a {
    transition: opacity 0.4s ease;
  }
  .l-footer__logo a:hover {
    opacity: 0.7;
  }
}
.l-footer__logo-image {
  width: 3.23rem;
}
.l-footer__copyright {
  width: 100%;
  color: #fff;
  display: grid;
  place-content: center;
  text-align: center;
  margin-top: 2.891rem;
}
.l-footer__copyright p {
  font-size: 1.5rem;
  line-height: 1.3333333333;
  font-weight: 500;
}
@media (min-width: 768px) {
  .l-footer__copyright p {
    line-height: 2.2;
  }
}
.l-footer__sns {
  margin-top: 1.6rem;
}
@media (min-width: 768px) {
  .l-footer__sns {
    margin-top: 0.3rem;
  }
}
.l-footer__sns ul {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 0.5rem;
}
.l-footer__sns ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  transition: opacity 0.4s ease, transform 0.4s ease;
}
@media (min-width: 768px) {
  .l-footer__sns ul li a:hover {
    opacity: 0.7;
    transform: scale(1.2);
  }
}
.l-footer__sns ul li-icon {
  width: 2.2rem;
}

.l-inner {
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .l-inner {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 3rem;
  }
}

/* =========================
   MAIN
========================= */
/* FVなしページ専用 */
.l-main--no-fv {
  padding-top: 5rem;
}
@media (min-width: 768px) {
  .l-main--no-fv {
    padding-top: 8rem;
  }
}

.c-logo__image {
  width: 2.55rem;
}
.c-logo__text {
  font-size: 1.3rem;
  line-height: 1.0769230769;
  font-weight: 700;
}
@media (min-width: 768px) {
  .c-logo__text {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .c-logo__main {
    font-size: 2rem;
    line-height: 1.15;
  }
}
@media (min-width: 768px) {
  .c-logo__sub {
    font-size: 1.5rem;
    line-height: 1.5333333333;
  }
}

.c-section-title {
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 700;
  color: #000;
  text-align: center;
}
.c-section-title--red {
  color: #CB0000;
}
.c-section-title--white {
  color: #fff;
}

/* =========================
   c-button
========================= */
/* =========================
   c-button--contact
========================= */
.c-button--contact {
  width: 33.5rem;
  max-width: calc(100vw - 4rem);
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 99998;
}
@media (min-width: 768px) {
  .c-button--contact {
    width: 30rem;
    left: auto;
    right: 0;
    transform: none;
  }
  .c-button--contact:hover .c-button--contact__icon {
    background-color: #fff;
  }
  .c-button--contact:hover .c-button--contact__icon p {
    color: #CB0000;
  }
}

/* =========================
   c-button--icon
========================= */
.c-button--contact__icon {
  width: 100%;
  height: 6rem;
  background-color: #CB0000;
  border: 0.1rem solid #CB0000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease;
}
.c-button--contact__icon p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 700;
  letter-spacing: 0.4em;
  transition: color 0.4s ease;
}
@media (min-width: 768px) {
  .c-button--contact__icon {
    width: 30rem;
  }
}

/* =========================
   c-button--top
========================= */
.c-button--top {
  position: absolute;
  bottom: 8rem;
  right: 2rem;
  z-index: 99999;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
@media (min-width: 768px) {
  .c-button--top {
    bottom: 9.1rem;
    right: 11.6rem;
  }
}

/* =========================
   ボタン本体
========================= */
.c-button__icon {
  width: 6.8rem;
  height: 6.8rem;
  background-color: rgba(0, 0, 0, 0.502);
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.c-button__icon:hover {
  opacity: 1;
  transform: none;
}
@media (min-width: 768px) {
  .c-button__icon:hover {
    opacity: 0.7;
  }
}

/* =========================
   アイコン画像
========================= */
.c-button__icon--img {
  width: 100%;
}

/* =========================
   BREADCRUMB
========================= */
.c-breadcrumb {
  background-color: #E8E8E8;
  position: relative;
  z-index: 10;
}
.c-breadcrumb__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.c-breadcrumb__item {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  line-height: 2.0625;
  font-weight: 500;
}
.c-breadcrumb__item:not(:last-child)::after {
  content: ">";
  margin-inline: 1.8rem;
}
@media (min-width: 768px) {
  .c-breadcrumb__item a {
    transition: opacity 0.4s ease;
  }
  .c-breadcrumb__item a:hover {
    opacity: 0.7;
  }
}

/* =========================
   C-BLOG-ITEM（ブログホバー）
========================= */
.p-blog-item__link {
  display: block;
  color: inherit;
}
@media (min-width: 768px) {
  .p-blog-item__link:hover .p-blog-item__image {
    opacity: 0.7;
  }
  .p-blog-item__link:hover .p-blog-item__label {
    color: #CB0000;
    background-color: #fff;
  }
  .p-blog-item__link:hover .p-blog-item__title,
  .p-blog-item__link:hover .p-blog-item__date {
    opacity: 0.7;
  }
}

.p-blog-item__image,
.p-blog-item__title,
.p-blog-item__date {
  transition: opacity 0.4s ease;
}

.p-blog-item__label {
  transition: color 0.4s ease, background-color 0.4s ease;
}

/* =========================
   FV
========================= */
.p-fv {
  position: relative;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .p-fv {
    margin-top: 8rem;
  }
}
.p-fv picture {
  display: block;
}
.p-fv img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.p-fv__contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.p-fv__title {
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 350px) {
  .p-fv__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .p-fv__title {
    font-size: 4rem;
    line-height: 1.5;
  }
}

/* =========================
   CONCEPT
========================= */
.p-concept {
  padding: 4.5rem 0 5rem;
}
.p-concept__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
}
.p-concept__head {
  text-align: center;
}
.p-concept__head p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
}
.p-concept__text {
  margin-top: 0.7rem;
}
@media (min-width: 768px) {
  .p-concept__text {
    margin-top: 1.7rem;
  }
}
.p-concept__arch {
  display: block;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-concept__arch {
    margin-top: 3.4rem;
  }
}
.p-concept__items {
  position: relative;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .p-concept__items {
    margin-top: 0;
  }
}
.p-concept {
  /* =========================
      ARROW
  ========================= */
}
.p-concept__arrow {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 1.5rem;
  z-index: 2;
}
.p-concept__arrow::before, .p-concept__arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 3px;
  height: 2rem;
  border-radius: 9999px;
  background: #CB0000;
  transform-origin: center top;
}
.p-concept__arrow::before {
  transform: rotate(45deg);
}
.p-concept__arrow::after {
  transform: rotate(-45deg);
}
.p-concept__list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  /* 中央線 */
}
.p-concept__list::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  background: #CB0000;
}
.p-concept__item {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  align-items: center;
  height: 5rem;
}
.p-concept__en {
  text-align: right;
  font-size: 2rem;
  line-height: 2.5;
  font-weight: 700;
  color: #CB0000;
  padding-right: clamp(1rem, 3vw, 2.5rem);
}
.p-concept__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-concept__dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #CB0000;
}
.p-concept__jp {
  font-size: 2rem;
  line-height: 2.5;
  font-weight: 500;
  padding-left: clamp(1rem, 3vw, 2.5rem);
}

/* =========================
   ABOUT
========================= */
.p-about {
  color: #fff;
  padding: 5rem 0 4rem 0;
}
@media (min-width: 768px) {
  .p-about {
    padding: 6.8rem 0 6rem 0;
  }
}
.p-about__contents {
  text-align: center;
}
.p-about p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
  margin-top: 1.4rem;
}

/* =========================
   REASON
========================= */
.p-reason {
  padding: 5rem 0 4rem;
}
@media (min-width: 768px) {
  .p-reason {
    padding: 6.4rem 0 9rem;
  }
}
.p-reason__title-main {
  margin-bottom: 3.6rem;
}
@media (min-width: 768px) {
  .p-reason__items {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }
}
.p-reason__item {
  margin-bottom: 4rem;
}
.p-reason__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .p-reason__item {
    display: flex;
    margin-bottom: 5rem;
  }
}
.p-reason__image {
  width: 100%;
}
@media (min-width: 768px) {
  .p-reason__image {
    width: 39.8%;
  }
}
.p-reason__item img {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .p-reason__body {
    flex: 1;
  }
}
.p-reason__title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  display: block;
}
@media (min-width: 768px) {
  .p-reason__title {
    font-size: 2.2rem;
    line-height: 1.5;
    padding-left: 5rem;
  }
}
.p-reason__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #CB0000;
}
.p-reason h3 {
  margin-bottom: 1rem;
}
.p-reason__text {
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 500;
}
@media (min-width: 768px) {
  .p-reason__text {
    font-size: 1.8rem;
    line-height: 1.8333333333;
    padding-left: 5rem;
  }
}

/* =========================
   VOICE
========================= */
.p-voice__inner {
  padding: 4.6rem 2rem 5rem;
}
@media (min-width: 768px) {
  .p-voice__inner {
    max-width: 1040px;
    margin-inline: auto;
    padding: 4.4rem 6.1rem 8rem;
  }
}
.p-voice__slider-wrap {
  position: relative;
}
@media (min-width: 768px) {
  .p-voice__slider-wrap {
    max-width: 1040px;
    padding-inline: 2rem;
  }
}
@media (min-width: 768px) {
  .p-voice__slider {
    max-width: 880px;
    margin-inline: auto;
  }
}
.p-voice h2 {
  margin-bottom: 3.9rem;
}
@media (min-width: 768px) {
  .p-voice .p-voice__card:hover .p-voice__image img {
    transform: scale(1.1);
  }
  .p-voice .p-voice__card:hover .p-voice__body {
    opacity: 0.7;
  }
}
.p-voice__image {
  overflow: hidden;
  margin-bottom: 2.7rem;
}
.p-voice__image img {
  transition: transform 0.4s ease;
}
.p-voice__body {
  transition: opacity 0.4s ease;
}
.p-voice__body h3 {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .p-voice__body h3 {
    font-size: 2.2rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .p-voice__body h3 {
    font-size: 1.7rem;
  }
}
.p-voice__body p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #fff;
}
@media (min-width: 768px) {
  .p-voice__body p {
    font-size: 1.8rem;
  }
}
@media (min-width: 768px) and (max-width: 1030px) {
  .p-voice__body p {
    font-size: 1.6rem;
  }
}
.p-voice .swiper-button-prev,
.p-voice .swiper-button-next {
  width: 2.04rem;
  height: 2.98rem;
  opacity: 0.5;
  position: absolute;
  top: 15rem;
  transform: translateY(-10%);
  z-index: 10;
}
@media (min-width: 768px) {
  .p-voice .swiper-button-prev,
  .p-voice .swiper-button-next {
    top: 14rem;
    transform: translateY(-50%);
  }
}
.p-voice .swiper-button-prev {
  left: 0;
}
@media (min-width: 768px) {
  .p-voice .swiper-button-prev {
    left: 0;
    transform: translate(-100%, -50%);
  }
}
.p-voice .swiper-button-next {
  right: 0;
}
@media (min-width: 768px) {
  .p-voice .swiper-button-next {
    right: 0;
    transform: translate(100%, -50%);
  }
}
.p-voice .swiper-button-prev::after,
.p-voice .swiper-button-next::after {
  content: "";
}
.p-voice {
  /* ＞ */
}
.p-voice .swiper-button-next::before,
.p-voice .swiper-button-next::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.35rem);
  right: 0;
  width: 2.49rem;
  height: 0.7rem;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: calc(100% - 0.35rem) 50%;
}
.p-voice .swiper-button-next::before {
  transform: rotate(38.2deg);
}
.p-voice .swiper-button-next::after {
  transform: rotate(-38.2deg);
}
.p-voice {
  /* ＜ */
}
.p-voice .swiper-button-prev::before,
.p-voice .swiper-button-prev::after {
  content: "";
  position: absolute;
  top: calc(50% - 0.35rem);
  left: 0;
  width: 2.49rem;
  height: 0.7rem;
  border-radius: 9999px;
  background-color: #fff;
  transform-origin: 0.35rem 50%;
}
.p-voice .swiper-button-prev::before {
  transform: rotate(38.2deg);
}
.p-voice .swiper-button-prev::after {
  transform: rotate(-38.2deg);
}
.p-voice .swiper,
.p-voice .swiper-wrapper,
.p-voice .swiper-slide {
  height: auto;
}

/* =========================
   FLOW
========================= */
.p-flow {
  padding: 4.6rem 0 2.5rem;
}
@media (min-width: 768px) {
  .p-flow {
    padding: 3.4rem 0 4.5rem;
  }
}
.p-flow__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
}
.p-flow__content {
  margin-top: 3.6rem;
  position: relative;
  padding-left: 2.5rem;
}
.p-flow__line {
  position: absolute;
  top: 1rem;
  left: 0.6rem;
  width: 0.2rem;
  height: calc(100% - 1rem);
  border-radius: 9999px;
  background: #CB0000;
}
.p-flow__line::before, .p-flow__line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0.2rem;
  height: 1.6rem;
  border-radius: 9999px;
  background: #CB0000;
  transform-origin: center bottom;
}
.p-flow__line::before {
  transform: translateX(-50%) rotate(45deg);
}
.p-flow__line::after {
  transform: translateX(-50%) rotate(-45deg);
}
.p-flow__list {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}
.p-flow__item {
  position: relative;
}
.p-flow__point {
  position: absolute;
  top: 0.5rem;
  left: -2.8rem;
}
.p-flow__dot {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #CB0000;
}
.p-flow__body h3 {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  color: #CB0000;
}
.p-flow__body p {
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 500;
}

/* =========================
   FAQ
========================= */
.p-faq {
  padding: 4.5rem 0 2.5rem;
}
@media (min-width: 768px) {
  .p-faq {
    padding: 3.4rem 0 3.5rem;
  }
}
.p-faq__contents {
  margin-top: 4rem;
}
.p-faq__item {
  border-top: 0.5px solid;
}
.p-faq__item:last-child {
  border-bottom: 0.5px solid;
}
.p-faq__summary {
  display: flex;
  align-items: center;
  gap: 2.25rem;
  position: relative;
  padding: 1.7rem 0;
  list-style: none;
  cursor: pointer;
}
.p-faq__summary::-webkit-details-marker {
  display: none;
}
.p-faq__icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
}
.p-faq__icon--q {
  color: #fff;
  background: #000;
}
.p-faq__icon--a {
  color: #fff;
  background: #CB0000;
}
.p-faq__title {
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 500;
}
.p-faq__btn {
  position: relative;
  display: inline-block;
  width: 1.36rem;
  height: 0.92rem;
  flex-shrink: 0;
  margin-left: auto;
  transition: transform 0.4s ease;
}
.p-faq__btn::before, .p-faq__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 1.11rem;
  border-radius: 9999px;
  background-color: #000;
  transform-origin: center bottom;
}
.p-faq__btn::before {
  transform: translateX(-50%) rotate(45deg);
}
.p-faq__btn::after {
  transform: translateX(-50%) rotate(-45deg);
}
.p-faq__summary.is-active .p-faq__btn {
  transform: rotate(180deg);
}
.p-faq__answer {
  display: flex;
  gap: 2rem;
  padding: 1.7rem 4.7rem 0.9rem 0;
  background: #f8e9e9;
  align-items: center;
}
.p-faq__content {
  width: 100%;
}
.p-faq__content p {
  font-weight: 600;
  color: #CB0000;
}

/* =========================
   BLOG
========================= */
.p-blog {
  padding: 4.5rem 0 2.5rem;
}
@media (min-width: 768px) {
  .p-blog {
    padding: 6.7rem 0 3.5rem;
  }
}
.p-blog__contents {
  margin-top: 3.6rem;
}
.p-blog__items {
  display: flex;
  flex-direction: column;
  row-gap: 4.1rem;
}
@media (min-width: 768px) {
  .p-blog__items {
    flex-direction: row;
    column-gap: 5.6818181818%;
    justify-content: flex-start;
  }
}
.p-blog__item {
  width: 100%;
}
@media (min-width: 768px) {
  .p-blog__item {
    width: calc((100% - 6rem) / 3);
  }
}
.p-blog-item__image {
  position: relative;
}
.p-blog-item__label {
  width: 9rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #CB0000;
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.6666666667;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-blog-item__label {
    width: 8rem;
  }
}
.p-blog-item__body {
  padding-top: 3rem;
}
.p-blog-item__title {
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-blog-item__title {
    line-height: 1.25;
  }
}
.p-blog-item__date {
  display: block;
  margin-top: 0.6rem;
  font-size: 1.7rem;
  line-height: 1.7647058824;
  font-weight: 500;
  text-align: right;
}
.p-blog__link {
  margin-top: 3.7rem;
  margin-bottom: 19rem;
  text-align: center;
}
@media (min-width: 768px) {
  .p-blog__link {
    margin-top: 3.7rem;
    margin-bottom: 20.5rem;
    text-align: right;
  }
}
.p-blog__link-btn {
  font-size: 1.8rem;
  line-height: 1.6666666667;
  font-weight: 500;
  border-bottom: 0.5px solid;
  transition: opacity 0.4s ease;
}
@media (min-width: 768px) {
  .p-blog__link-btn:hover {
    opacity: 0.7;
  }
}

/* =========================
   cta
========================= */
.p-cta {
  margin-top: 13.2rem;
}
.p-cta__inner {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .p-cta__inner {
    justify-content: flex-end;
  }
}

/* =========================
   p-fixed-buttons
========================= */
.p-fixed-buttons {
  position: fixed;
  left: 0;
  bottom: 3.02rem;
  width: 100%;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
.p-fixed-buttons.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 768px) {
  .p-fixed-buttons {
    bottom: 2.74rem;
  }
}

/* =========================
   P-Plan-FV
========================= */
.p-plan-fv {
  position: relative;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .p-plan-fv {
    margin-top: 8rem;
  }
}
.p-plan-fv picture {
  display: block;
}
.p-plan-fv img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.p-plan-fv__contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.p-plan-fv__title {
  font-size: 2.5rem;
  line-height: 2.4;
  font-weight: 700;
  color: #fff;
}

/* =========================
   P-Plan-Price
========================= */
.p-plan-price {
  padding: 4.6rem 0 1.9rem;
}
@media (min-width: 768px) {
  .p-plan-price {
    padding: 6.7rem 0 2.8rem;
  }
}
.p-plan-price__wrapper {
  margin-top: 3.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.9rem;
}
@media (min-width: 768px) {
  .p-plan-price__wrapper {
    flex-direction: row;
    justify-content: center;
    gap: 3.05rem;
  }
}
.p-plan-price__box {
  width: 100%;
  max-width: 21rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CB0000;
}
.p-plan-price__price {
  color: #fff;
  font-size: 2rem;
  line-height: 1.65;
  font-weight: 700;
}
.p-plan-price__plus {
  width: 1.9rem;
}
@media (min-width: 768px) {
  .p-plan-price__plus {
    width: 1.85rem;
  }
}
.p-plan-price__text {
  margin-top: 4.8rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .p-plan-price__text {
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

/* =========================
   P-Plan-Table
========================= */
.p-plan-table {
  padding: 4.6rem 0 18.6rem;
}
@media (min-width: 768px) {
  .p-plan-table {
    padding: 2.85rem 0 22.3rem;
  }
}
.p-plan-table__wrap {
  width: 100%;
  overflow: hidden;
}
.p-plan-table__scroll {
  position: relative;
  margin-top: 4.8rem;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 1.75rem;
  -webkit-overflow-scrolling: touch;
  display: block;
}
.p-plan-table__scroll::-webkit-scrollbar {
  height: 2.5rem;
}
.p-plan-table__scroll::-webkit-scrollbar-track {
  background: rgba(80, 80, 80, 0.149);
}
.p-plan-table__scroll::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.251);
  min-width: 1rem;
  height: 2.3rem;
}
@media (min-width: 768px) {
  .p-plan-table__scroll {
    overflow: visible;
    padding-bottom: 0;
  }
}
.p-plan-table__hint {
  min-width: 25rem;
  min-height: 4rem;
  position: absolute;
  left: 50%;
  bottom: 25rem;
  transform: translateX(-50%);
  padding: 0.6rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 1.3rem;
  z-index: 5;
  transition: opacity 0.4s, visibility 0.4s;
  animation: scrollHint 2s ease-in-out infinite;
}
@media (min-width: 768px) {
  .p-plan-table__hint {
    display: none;
  }
}
.p-plan-table__hint.is-hidden {
  opacity: 0;
  visibility: hidden;
  animation: none;
}
.p-plan-table {
  /* 横スクロールを促す揺れ */
}
@keyframes scrollHint {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(-55%);
  }
  50% {
    transform: translateX(-45%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.p-plan-table__table {
  width: 100%;
  min-width: 67.6rem;
  border-collapse: collapse;
  table-layout: fixed;
}
@media (min-width: 768px) {
  .p-plan-table__table {
    min-width: auto;
  }
}
.p-plan-table__table th,
.p-plan-table__table td {
  width: 25%;
}
.p-plan-table {
  /* -------------------------
     共通セル
  ------------------------- */
}
.p-plan-table tbody th,
.p-plan-table tbody td {
  text-align: center;
  vertical-align: middle;
  border-left: 0.5px solid #000;
}
.p-plan-table tbody th:first-child,
.p-plan-table tbody td:first-child {
  border-left: none;
}
.p-plan-table tbody th span {
  display: inline-block;
}
.p-plan-table {
  /* -------------------------
     テーブル見出し
  ------------------------- */
}
.p-plan-table thead th {
  font-weight: 700;
  color: #fff;
  height: 10.6rem;
  vertical-align: top;
}
@media (min-width: 768px) {
  .p-plan-table thead th {
    height: 8rem;
  }
}
.p-plan-table thead th:nth-child(2) {
  position: relative;
}
.p-plan-table thead th:nth-child(2)::before, .p-plan-table thead th:nth-child(2)::after {
  content: "";
  position: absolute;
  bottom: 0rem;
  left: auto;
  width: 0.5px;
  height: 6.6rem;
  background-color: #000;
}
@media (min-width: 768px) {
  .p-plan-table thead th:nth-child(2)::before, .p-plan-table thead th:nth-child(2)::after {
    height: 5rem;
  }
}
.p-plan-table thead th:nth-child(2)::before {
  left: 0;
}
.p-plan-table thead th:nth-child(2)::after {
  right: 0;
}
.p-plan-table thead th:nth-child(4) {
  position: relative;
}
.p-plan-table thead th:nth-child(4)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0.5px;
  height: 6.6rem;
  background-color: #000;
}
@media (min-width: 768px) {
  .p-plan-table thead th:nth-child(4)::before {
    height: 5rem;
  }
}
.p-plan-table {
  /* 黒背景 */
}
.p-plan-table__head {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.p-plan-table__head p {
  min-height: 6.6rem;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.25;
  padding: 0.8rem 2rem 0;
}
.p-plan-table__head p span {
  display: inline-block;
}
@media (min-width: 768px) {
  .p-plan-table__head p {
    padding-top: 0.5rem;
    padding: 0.5rem 1rem 0;
    min-height: 5rem;
    line-height: 1.65;
  }
}
.p-plan-table {
  /* 赤背景 */
}
.p-plan-table__recommend p {
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: #CB0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
}
.p-plan-table__recommend p span {
  display: inline-block;
}
@media (min-width: 768px) {
  .p-plan-table__recommend p {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.6rem 2rem 0;
    width: 100%;
    height: 100%;
    font-size: 2rem;
    line-height: 1.5;
  }
}
.p-plan-table__small {
  width: 100%;
  font-size: 1.7rem;
  line-height: 1.7647058824;
}
.p-plan-table {
  /* -------------------------
      テーブル本文
  ------------------------- */
}
.p-plan-table tbody {
  /* セル共通 */
}
.p-plan-table tbody th,
.p-plan-table tbody td {
  height: 8.5rem;
}
.p-plan-table tbody {
  /* 左列 */
}
.p-plan-table tbody th {
  text-align: left;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.4rem;
  line-height: 1.4285714286;
}
@media (min-width: 768px) {
  .p-plan-table tbody th {
    padding: 0 2rem;
  }
}
.p-plan-table tbody td {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
}
.p-plan-table tbody tr {
  /* 月額料金 */
}
.p-plan-table tbody tr:first-child th {
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 700;
}
@media (min-width: 768px) {
  .p-plan-table tbody tr:first-child th {
    font-size: 1.7rem;
    line-height: 1.7647058824;
  }
}
.p-plan-table tbody tr:first-child td {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
}
.p-plan-table tbody tr {
  /* 2行目以降 */
}
.p-plan-table tbody tr:not(:first-child) th,
.p-plan-table tbody tr:not(:first-child) td {
  font-size: 1.6rem;
  line-height: 1.5625;
  font-weight: 500;
}
@media (min-width: 768px) {
  .p-plan-table tbody tr:not(:first-child) th,
  .p-plan-table tbody tr:not(:first-child) td {
    font-size: 1.7rem;
    line-height: 1.4705882353;
  }
}
.p-plan-table tbody tr:nth-child(even) {
  background-color: rgba(80, 80, 80, 0.149);
}
.p-plan-table tbody tr {
  /* 一番下だけ横線 */
}
.p-plan-table tbody tr:last-child th,
.p-plan-table tbody tr:last-child td {
  border-bottom: 0.5px solid #000;
}
.p-plan-table tbody {
  /* 左端th 2行目以降だけ例外 */
}
.p-plan-table tbody tr.p-plan-table__lesson td {
  font-size: 1.7rem;
  line-height: 1.4705882353;
  font-weight: 500;
}
.p-plan-table {
  /* -------------------------
      補足説明
  ------------------------- */
}
.p-plan-table__note {
  margin-top: 1.7rem;
}
@media (min-width: 768px) {
  .p-plan-table__note {
    margin-top: 2.85rem;
  }
}
.p-plan-table__accent {
  color: #CB0000;
}

/* -------------------------
    空セル
------------------------- */
.is-empty {
  position: relative;
}
.is-empty::before {
  content: "";
  display: block;
  width: 3rem;
  height: 0.1px;
  background-color: #000;
  margin-inline: auto;
}

/* =========================
   BLOG-list
========================= */
.p-blog-list__items {
  display: flex;
  flex-direction: column;
  row-gap: 3.9rem;
}
@media (min-width: 768px) {
  .p-blog-list__items {
    row-gap: 7rem;
  }
}

@media (min-width: 768px) {
  .p-blog-list__item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .p-blog-list__item .p-blog-item__link {
    display: flex;
    align-items: flex-start;
    column-gap: 5.6818181818%;
  }
}
@media (min-width: 768px) {
  .p-blog-list__item .p-blog-item__image {
    width: 26rem;
    flex-shrink: 0;
  }
}
@media (min-width: 768px) {
  .p-blog-list__item .p-blog-item__body {
    flex: 1;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .p-blog-list__item .p-blog-item__date {
    text-align: left;
  }
}
.p-blog-list__item .p-blog-card__text {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  line-height: 1.875;
  font-weight: 500;
}
@media (min-width: 768px) {
  .p-blog-list__item .p-blog-card__text {
    margin-top: 1.1rem;
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

/* =========================
   pagination
========================= */
.p-pagination {
  margin: 6rem 0 17.8rem;
}
@media (min-width: 768px) {
  .p-pagination {
    margin: 0.7rem 0 17.5rem;
  }
}
.p-pagination__list {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}
.p-pagination__item a,
.p-pagination__item span {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  line-height: 1.75;
  font-weight: 700;
  transition: 0.4s;
}
.p-pagination__item.is-current span {
  background-color: #000;
  color: #fff;
}
.p-pagination__item a {
  color: #000;
}
@media (min-width: 768px) {
  .p-pagination__item a:hover {
    background-color: #000;
    color: #fff;
  }
}
.p-pagination__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.75;
  font-weight: 700;
  padding: 0 0.3rem;
}

/* =========================
   BLOG-DETAILS
========================= */
.p-blog-details__share {
  margin-top: 2.1rem;
}
.p-blog-details__share-list {
  display: flex;
  gap: 0.2rem;
  flex-wrap: nowrap;
}
@media (min-width: 768px) {
  .p-blog-details__share-list {
    gap: 0.4rem;
  }
}
.p-blog-details__share-item {
  flex: 1 1 0;
}
.p-blog-details__share-item img {
  display: block;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .p-blog-details__share-item {
    flex: 0 0 auto;
  }
  .p-blog-details__share-item img {
    width: auto;
    height: 4rem;
  }
}

/* =========================
   CONTACT_FORM
========================= */
.p-contact__contents {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .p-contact__contents {
    gap: 6.5rem;
  }
}
.p-contact__contents .p-contact__form-block dl:not(:first-of-type) {
  margin-top: 1.3rem;
}
@media (min-width: 768px) {
  .p-contact__contents .p-contact__form-block dl:not(:first-of-type) {
    margin-top: 3rem;
  }
}
.p-contact__contents dt {
  font-size: 1.6rem;
  line-height: 2.0625;
  font-weight: 500;
}
.p-contact__contents dd .form-control {
  width: 100%;
  height: 4rem;
  border: 0.1rem solid #000;
  padding: 0 2rem;
  font-size: 1.5rem;
  line-height: 2.2;
}
.p-contact__contents dd .form-control::placeholder {
  color: #B2B2B2;
}
.p-contact__contents dd .form-checkbox {
  display: grid;
  gap: 1.5rem 0 0.2rem;
  margin-top: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.p-contact__contents dd .checkbox-item {
  display: inline-flex;
  align-items: center;
  min-width: 0;
}
.p-contact__contents dd .checkbox-item input[type=checkbox] + span {
  display: inline-block;
  padding-left: 4rem;
  position: relative;
  white-space: nowrap;
}

/* =========================
   CONTACT-SEND
========================= */
.c-button--contact--center {
  position: static;
  transform: none;
}

.p-contact-send__text {
  margin-top: 4.7rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .p-contact-send__text {
    text-align: center;
  }
}
.p-contact-send__button {
  display: flex;
  justify-content: center;
  margin: 4rem 0 5rem;
}
.p-contact-send__button .c-button--contact {
  position: relative;
  left: auto;
  right: auto;
  bottom: auto;
  transform: translateX(0);
  display: block;
  margin: 0 auto;
}
.p-contact-send__button .c-button--contact__icon p {
  line-height: 1.3;
  letter-spacing: normal;
}

/* =========================
   404
========================= */
.page-404 .p-contact-send__text {
  margin-top: 4.2rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .page-404 .p-contact-send__text {
    text-align: center;
    margin: 4rem 0 9rem;
  }
}
.page-404 .p-contact-send__button {
  margin-top: 0;
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 88rem;
  margin: 0 auto;
}

section {
  scroll-margin-top: 8rem;
}
@media (max-width: 767px) {
  section {
    scroll-margin-top: 5rem;
  }
}

.ib-span {
  display: inline-block;
}

a:hover,
button:hover {
  cursor: pointer;
}

.sp-br,
.pc-br,
.tb-br {
  display: none;
}

@media (max-width: 765px) {
  .sp-br {
    display: inline;
  }
}
@media (min-width: 766px) and (max-width: 1079px) {
  .tb-br {
    display: inline;
  }
}
@media (min-width: 1080px) {
  .pc-br {
    display: inline;
  }
}
.no-wrap {
  white-space: nowrap;
}

.pc-only {
  display: none;
}
@media (min-width: 768px) {
  .pc-only {
    display: inline;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: inline;
  }
}

a {
  cursor: pointer;
}

body.is-fixed .top-back-btn {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}

.common-title {
  text-align: center;
}
.common-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: #CB0000;
  letter-spacing: 0.3em;
  margin-bottom: 0.8rem;
}
.common-title p {
  font-size: 2rem;
  line-height: 1.65;
  color: #000;
  letter-spacing: 0.3em;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5625;
}

.u-bg-red {
  background: #CB0000;
}