@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  word-break: break-all;
  font-size: 10px;
}

body {
  font-family: "Yu Gothic", "YuGothic", "Hiragino Sans", "Noto Sans JP", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8333333333;
  font-weight: 400;
  color: #000;
  letter-spacing: 0;
  margin: 0;
}

html.is-fixed,
body.is-fixed {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin-trim: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  border: none;
  outline: transparent;
  outline: none;
}

/* =========================
   HEADER
========================= */
.l-header {
  width: 100%;
  height: 5rem;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
@media (min-width: 768px) {
  .l-header {
    height: 8rem;
  }
}
.l-header__inner {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}
@media (min-width: 768px) {
  .l-header__inner {
    padding: 0 10rem;
  }
}
@media (min-width: 769px) and (max-width: 1030px) {
  .l-header__inner {
    padding: 0 2rem;
  }
}
.l-header {
  /* =========================
     LOGO
  ========================= */
}
.l-header__logo a {
  display: flex;
  align-items: center;
  column-gap: 0.95rem;
  height: 5rem;
  transition: opacity 0.4s ease;
}
.l-header__logo a:hover {
  opacity: 0.6;
}
@media (max-width: 767px) {
  .l-header__logo a:hover {
    opacity: 1;
  }
}
.l-header {
  /* =========================
     PC NAV
  ========================= */
}
.l-header__nav {
  display: none;
}
@media (min-width: 768px) {
  .l-header__nav {
    display: block;
  }
}
.l-header__nav ul {
  display: flex;
  align-items: center;
  gap: 3.3rem;
}
.l-header__nav ul a {
  font-size: 1.7rem;
  font-weight: 600;
  color: #000;
}
.l-header__nav ul a:hover {
  opacity: 0.7;
}
.l-header__nav ul .is-contact a {
  font-size: 1.5rem;
  background: #CB0000;
  color: #fff;
  padding: 1rem 3rem;
}
.l-header {
  /* =========================
     SP NAV
  ========================= */
}
.l-header__sp-nav {
  position: fixed;
  width: 30rem;
  top: 5rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  background: #CB0000;
  z-index: 2000;
}
.l-header__sp-nav.active {
  transform: translateX(0);
}
.l-header__sp-nav-lists {
  margin: 0;
  list-style: none;
  font-weight: 500;
}
.l-header__sp-nav-lists a {
  color: #fff;
  display: block;
  padding: 1.5rem 0 1rem 2rem;
}
.l-header {
  /* =========================
     HAMBURGER
  ========================= */
}
.l-header__hamburger {
  position: relative;
  z-index: 9999;
  display: block;
}
@media (min-width: 768px) {
  .l-header__hamburger {
    display: none;
  }
}
.l-header__hamburger .c-hamburger {
  position: fixed;
  top: 0;
  right: 0;
  width: 7.1rem;
  height: 5rem;
  background: #CB0000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.l-header__hamburger .c-hamburger .c-hamburger__line,
.l-header__hamburger .c-hamburger .c-hamburger__line::before,
.l-header__hamburger .c-hamburger .c-hamburger__line::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 3.2rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
  display: block;
}
.l-header__hamburger .c-hamburger .c-hamburger__line {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.l-header__hamburger .c-hamburger .c-hamburger__line::before {
  top: -1.2rem;
}
.l-header__hamburger .c-hamburger .c-hamburger__line::after {
  top: 1.2rem;
}
.l-header__hamburger .c-hamburger {
  /* ACTIVE（×変形） */
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line {
  background: transparent;
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.l-header__hamburger .c-hamburger.active .c-hamburger__line::after {
  top: 0;
  transform: rotate(-45deg);
}

.c-logo__image {
  width: 2.55rem;
}
.c-logo__text {
  font-size: 1.3rem;
  line-height: 1.0769230769;
  font-weight: 600;
}
@media (min-width: 768px) {
  .c-logo__text {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .c-logo__main {
    font-size: 2rem;
    line-height: 1.15;
  }
}
@media (min-width: 768px) {
  .c-logo__sub {
    font-size: 1.5rem;
    line-height: 1.5333333333;
  }
}

/* =========================
   FV
========================= */
.p-fv {
  position: relative;
  margin-top: 5rem;
}
@media (min-width: 768px) {
  .p-fv {
    margin-top: 8rem;
  }
}
.p-fv picture {
  display: block;
}
.p-fv img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.p-fv__contents {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.p-fv__title {
  font-size: 3rem;
  line-height: 1.6666666667;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 350px) {
  .p-fv__title {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .p-fv__title {
    font-size: 4rem;
    line-height: 1.5;
  }
}

/* =========================
   CONCEPT
========================= */
.p-concept {
  padding: 4.5rem 0 5rem;
}
.p-concept__inner {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 2rem;
}
.p-concept__head {
  text-align: center;
}
.p-concept__head h2 {
  font-size: 2.5rem;
  line-height: 1.6;
  font-weight: 600;
  color: #CB0000;
}
.p-concept__head p {
  font-size: 1.8rem;
  line-height: 1.6666666667;
}
.p-concept__items {
  position: relative;
}
.p-concept {
  /* =========================
      ARROW
  ========================= */
}
.p-concept__arrow {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 1.5rem;
  z-index: 2;
}
.p-concept__arrow::before, .p-concept__arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  width: 3px;
  height: 2rem;
  border-radius: 9999px;
  background: #CB0000;
  transform-origin: center top;
}
.p-concept__arrow::before {
  transform: rotate(45deg);
}
.p-concept__arrow::after {
  transform: rotate(-45deg);
}
.p-concept__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* 中央線 */
}
.p-concept__list::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  height: 188px;
  background: #CB0000;
}
.p-concept__item {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 3rem 1fr;
  align-items: center;
  height: 5rem;
}
.p-concept__en {
  text-align: right;
  font-size: 2rem;
  line-height: 2.5;
  font-weight: 600;
  color: #CB0000;
  padding-right: clamp(1rem, 3vw, 2.5rem);
}
.p-concept__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-concept__dot {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #CB0000;
}
.p-concept__jp {
  font-size: 2rem;
  line-height: 2.5;
  font-weight: 500;
  padding-left: clamp(1rem, 3vw, 2.5rem);
}

@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}
img {
  width: 100%;
  height: auto;
  display: block;
}

.inner {
  max-width: 88rem;
  margin: 0 auto;
}

section {
  scroll-margin-top: 8rem;
}
@media (max-width: 767px) {
  section {
    scroll-margin-top: 5rem;
  }
}

.ib-span {
  display: inline-block;
}

a:hover,
button:hover {
  cursor: pointer;
}

.sp-br,
.pc-br,
.tb-br {
  display: none;
}

@media (max-width: 765px) {
  .sp-br {
    display: inline;
  }
}
@media (min-width: 766px) and (max-width: 1079px) {
  .tb-br {
    display: inline;
  }
}
@media (min-width: 1080px) {
  .pc-br {
    display: inline;
  }
}
.no-wrap {
  white-space: nowrap;
}

.pc-only {
  display: none;
}
@media (min-width: 768px) {
  .pc-only {
    display: inline;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px) {
  .sp-only {
    display: inline;
  }
}

a {
  cursor: pointer;
}

body.is-fixed .top-back-btn {
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none;
}

.common-title {
  text-align: center;
}
.common-title h2 {
  font-size: 3rem;
  line-height: 1.1;
  color: #CB0000;
  letter-spacing: 0.3em;
  margin-bottom: 0.8rem;
}
.common-title p {
  font-size: 2rem;
  line-height: 1.65;
  color: #000;
  letter-spacing: 0.3em;
}

h4 {
  font-size: 1.6rem;
  line-height: 1.5625;
}