@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BREADCRUMB
========================= */
.c-breadcrumb {
    background-color: $back-color;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__item {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        font-weight: 500;
        &:not(:last-child):after {
            content: ">";
            margin-inline: 1.8rem;     
        }
    }
}