@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   c-button--contact
========================= */
.c-button--contact {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 99998;
    @include pc {
        left: auto;
        right: 0;
        transform: none;
    }
}
/* =========================
   c-button--icon
========================= */
.c-button--contact__icon {
    width: 33.5rem;
    height: 6rem;
    background-color: $main-color;
    border: 0.1rem solid $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  transform 0.4s ease, opacity 0.4s ease;
    p {
        color: $font-color02;
        font-size: 2rem;
        line-height: calc(33 / 20);
        font-weight: 700;
    }
    @include pc {
        width: 30rem;
        &:hover {
            background-color: $font-color02;
            p {
                color: $main-color;
            }
        }
    }
}