@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   C-BLOG-ITEM（ブログホバー）
========================= */
.p-blog-item__link {
    display: block;
    color: inherit;

    @include pc {
        &:hover {
            .p-blog-item__image {
                opacity: 0.7;
            }
            .p-blog-item__label {
                color: $main-color;
                background-color: $font-color02;
            }
            .p-blog-item__title,
            .p-blog-item__date {
                opacity: 0.7;
            }
        }
    }
}
.p-blog-item__image,
.p-blog-item__title,
.p-blog-item__date {
    transition: opacity 0.4s ease;
}
.p-blog-item__label {
    transition: 
    color 0.4s ease,
    background-color 0.4s ease;
}
