@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   c-button
========================= */
.c-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-color02;
    display: grid;
    place-content: center;
    

}