@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BREADCRUMB
========================= */
.c-breadcrumb {
    padding-left: 2rem;
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    &__wrap {
        
    }
}