@use "../../foundation/mixin" as *;
.c-logo {
  &__image {
    display: block;
    width: 2.031rem;

    @include pc {
      width: 3.203rem;
    }
  
  }
  &__text {
    font-size: 1.3rem;
    line-height: calc(14 / 13);
    font-weight: 700;
    @include pc {
      display: flex;
      flex-direction: column;
    }
  }

  &__main {
    @include pc {
      font-size: 2rem;
      line-height: calc(23 / 20);
    }
  }
  &__sub {
    @include pc {
      font-size: 1.5rem;
      line-height: calc(23 / 15);
    }
  }
}