@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   CONTACT-SEND
========================= */

.c-button--contact--center {
    position: static;
    transform: none;
}
.p-contact-send {
    &__text {
        padding-top: 4.7rem;
        font-weight: 500;
        @include pc {
            text-align: center;
        }
    }
    &__button {
        display: flex;
        justify-content: center;
        margin: 4rem 0 5rem;
        .c-button--contact {
            position: relative;
            left: auto;
            right: auto;
            bottom: auto;
            transform: translateX(0);
            display: block;
            margin: 0 auto;
        }
    }
}