@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   404
========================= */
.page-404 {
    .p-contact-send {
        padding: 4.1rem 0 5rem;

        &__text--404 {
            margin-top: 0;
        }
        
        &__text {
            font-weight: 500;
            
            @include pc {
                text-align: center;
            }
        }
        
        &__button {
            margin-top: 1rem;
        }
    }
    .c-button--contact__icon {
        height: 5rem;
    }
}