@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG-DETAILS
========================= */
.p-blog-details {
    &__share {
        margin-top: 2.1rem;
    }
    &__share-list {
        display: flex;
        gap: 0.2rem;
        flex-wrap: nowrap;

        @include pc {
            gap: 0.4rem;
        }
    }
    &__share-item {
        flex: 1 1 0;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
        @include pc {
            flex: 0 0 auto;
            img {
                width: auto;
                height: 4rem;
            }
        }
    }
}