@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG-list
========================= */
.p-blog-list__items {
    @include pc {
            display: flex;
            flex-direction: column;
            row-gap: 7rem;
        }
    }

    .p-blog-list__item {
        @include pc {
            width: 100%; // topページのブログセクション3列指定を解除
        }
    }
    .p-blog-item__link {
       @include pc {
        display: flex;
        align-items: center;
        column-gap: calc(10 / 880 * 100%);
       } 
    }
    .p-blog-item__image {
        @include pc {
            width: 50%;
            flex-shrink: 0;
        }
    }
    .p-blog-item__body {
        @include pc {
            flex: 1;
        }
    }