@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG-DETAILS
========================= */
.p-blog-details {
    &__share {
        margin-top: 2.1rem;
    }
    &__share-list {
        display: flex;
        gap: 0.2rem;
        flex-wrap: nowrap;

        @include pc {
            gap: 0.4rem;
        }
    }
    &__share-item {
        width: 6.5rem;
        height: 4rem;
        flex-shrink: 0;
        
        img {
            display: block;
            width: 6.5rem;
            height: 4rem;
        }
        @include pc {
            width: auto;
            height: 4rem;
        }
    }
}