@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG-DETAILS
========================= */
.p-blog-details {
    &__share {
        margin-top: 2.1rem;
    }
    &__share-list {
        display: flex;
        gap: 0.2rem;
        flex-wrap: nowrap;

        @include pc {
            gap: 0.4rem;
        }
    }
    &__share-item {
        flex: 1 1 0;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
        @include pc {
            flex: 0 0 auto;
            img {
                width: auto;
                height: 4rem;
            }
        }
    }

    /* 前・次の記事画像 */
    &__pager-image {
        display: none;
        @include pc {
            display: block;
        }
    }
    /* バナー広告 */
    &__mail-magazine {
        border: 0.5px solid $font-color;

        font-size: 1.8rem;
        line-height: calc(33 / 18);
        font-weight: 700;
    }

    &__sidebar-title {
        background: $font-color;
        color: $font-color02;
        text-align: center;
        font-weight: 700;
    }

    &__mail-magazine-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 2rem;
        min-height: 22.8rem;
        background: $banner;
    }

}
