@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG-DETAILS
========================= */
.p-blog-details {
    padding: 5rem 0 19.7rem;
    @include pc {
        padding: 7rem 0 18.7rem;
    }
    &__share {
        margin-top: 2.1rem;
    }
    &__share-list {
        display: flex;
        gap: 0.2rem;
        flex-wrap: nowrap;

        @include pc {
            gap: 0.4rem;
        }
    }
    &__share-item {
        flex: 1 1 0;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
        @include pc {
            flex: 0 0 auto;
            img {
                width: auto;
                height: 4rem;
            }
        }
    }

    
    // サイドバー上余白
    &__sidebar > section {
        margin-top: 3rem;

        @include pc {
            &:first-child {
                margin-top: 0;
            }
        }
    }


    /* 前・次の記事画像 */
    &__pager-image {
        display: none;
        @include pc {
            display: block;
        }
    }
    /* バナー広告 */
    &__mail-magazine {
        border: 0.5px solid $font-color;
        font-size: 1.8rem;
        line-height: calc(33 / 18);
        font-weight: 700;
        @include pc {
            max-width: 25rem;
        }
    }

    &__sidebar-title {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 5rem;
        background: $font-color;
        color: $font-color02;
        font-weight: 700;
    }

    &__mail-magazine-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        
        margin: 2rem;
        min-height: 22.8rem;
        background: $banner;
    }

    /*  検索 */
    &__search {
        border: 0.5px solid $font-color;
    }

    &__search-form {
        display: flex;
        margin: 2rem;
        justify-content: center;
        align-items: center;
        height: 5.4rem;
        
    }

    &__search-input {
        flex: 1;
        min-width: 0;
        height: 5.4rem;
        padding: 1rem;
        background: $banner;
    }
    &__search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        cursor: pointer;

        img {
            display: block;
            width: 5.4rem;
            height: auto;
        }       
    }

    /*  おすすめの記事 */
    &__recommend-item {
        margin-top: 2rem;
        @include pc {
            margin-top: 1.5rem;
        }
    }

    &__recommend-link {
        display: flex;
        gap: 2rem;
        align-items: flex-start;
        @include pc {
            gap: 1.5rem;
        }
    }
    &__recommend-image {
        width: 16rem;
        aspect-ratio: 16 / 11;
        background: $banner;
        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        @include pc {
            width: 9.5rem;
            aspect-ratio: 95 / 75;

        }
    }
    &__recommend-body {
        font-size: 1.7rem;
        line-height: calc(28 / 17);
        font-weight: 500;
    }
}


