@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   cta
========================= */
.p-cta {
    &__inner {
        display: flex;
        justify-content: center;
        padding: 0 2rem;
        @include pc {
            justify-content: flex-end;
        }
    }
}