@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   CONTACT_FORM
========================= */
.p-contact__contents {
    display: flex;
    flex-direction: column;
    gap: 3.3rem;

    @include pc {
        gap: 6.5rem;
    }

    .p-contact__form-block {
        dl:not(:first-of-type) {
            margin-top: 1.4rem;
            @include pc {
                margin-top: 3rem;
            }
        }
    }
    
    .p-contact__item {
        @include pc {
            display: flex;
            align-items: flex-start;
        }

        dt {
            @include pc {
                width: 17rem;
                flex-shrink: 0;
            }
        }

        dd {
            margin-top: 0.1rem;
            @include pc {
                flex:1;
                margin-top: 0;
            }
        }
    }

    dt {
        font-size: 1.6rem;
        line-height: calc(33 / 16);
        font-weight: 500;
    }


    // 文字間隔調整
    .p-contact__item--checkbox {
        dt {
            letter-spacing: 0.3rem;

            span {
                display: inline;
                letter-spacing: 0;
                @include pc {
                    display: block;
                    margin-top: 0.2rem;
                }
            }
        }
    }

    dd {
        .form-control {
            width: 100%;
            height: 4rem;
            border: 0.1rem solid $font-color;
            padding: 0.4rem 2rem 0;

            font-size: 1.5rem;
            line-height: calc(33 / 15);
            
            &::placeholder {
                color: $font-color03;
            }
        }
        
        // checkbox
        .form-checkbox {
            display: grid;
            gap: 1.5rem 0 0.2rem;
            margin-top: 0.5rem;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }
        .checkbox-col {
            display: flex;
            justify-content: flex-start;
            width: fit-content;
            min-width: 0;
        }
        
        // テキストエリア
        textarea.form-textarea {
            height: 19rem;
            padding: 1.3rem 2rem;
            line-height: 1.6;
            word-break: break-all;
            resize: none;
            display: block;
            
            @include pc {
                height: 30rem;
            }
        }
    }
    
    // クリック領域
    .checkbox-item {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        cursor: pointer;
        min-width: fit-content;
    }
    
    .checkbox-item input[type="checkbox"] {
        appearance: none;
        width: 2rem;
        height: 2rem;
        border: 0.1rem solid $font-color;
        position: relative;
        cursor: pointer;
    }
    
    .checkbox-item input[type="checkbox"]:checked::after {
        content: "";
        position: absolute;
        top: 0.5rem;
        left: 0.3rem;
        width: 1rem;
        height: 0.5rem;
        border-bottom: 0.2rem solid $main-color;
        border-left: 0.2rem solid $main-color;
        transform: rotate(-45deg);
    }
}

.p-contact-send__button.p-contact__submit {
    margin-top: 5rem;
    margin-bottom: 10rem;
}