@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;
/* =========================
   P-Plan-Table
========================= */
.p-plan-table {
    padding: 4.6rem 0 18.6rem;
    @include pc {
        padding: 2.85rem 0 22.3rem;
    }
    &__scroll {
        margin-top: 4.8rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    &__table {
        min-width: 760px;
        border-collapse: collapse;
        table-layout: fixed;
        @include pc {
            width: 100%;
        }
    }
    th,
    td {
        text-align: center;
        vertical-align: middle;
    }
    thead {
        th {
            height: 7rem;
            font-size: 2rem;
            line-height: calc(30 / 20);
            font-weight: 700;
            color: $font-color02;
            &:not(:first-child) {
                background-color: $font-color;
                color: $font-color02;
            }
            &:nth-child(3) {
                background-color: $main-color;
            }
        }
    }
    tbody {
        tr {
            height: 8.5rem;
            &:first-child {
                th {
                    font-size: 1.7rem;
                    line-height: calc(30 / 17);
                    font-weight: 700;                    
                }
                td {
                    font-weight: 700;
                }
            }
            &:not(:first-child) {
            th {
                font-size: 1.7rem;
                line-height: calc(25 / 17);
                font-weight: 500;
            }
            td {
                font-weight: 500;
            }
        }
            &:nth-child(even) {
                background-color: $table-back-color;
            }
        }
        th {
            width: 18rem;
            text-align: left;
            padding-left: 2rem;
            font-size: 1.4rem;
            line-height: calc(20 / 14);
        }
        td {
            font-size: 2.2rem;
            line-height: calc(33 / 22);
            font-weight: 700;
        }
    }
    &__note {
        margin-top: 1.7rem;
        @include pc {
            margin-top: 2.85rem;
        }
    }
}