@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   RESULt-DETAILS
========================= */
.p-result-details {
   &__profile {
      @include pc {
         display: flex;
         align-items: flex-start;
         column-gap: 4rem;
      }
   }

   &__table {
      width: 100%;
      height: 19rem;
      border-collapse: collapse;
      margin-top: 2.1rem;

      @include pc {
         max-width: 40rem;
         flex-shrink: 0;
      }

      th,
      td {
         padding: 0.7rem 0 0 1rem;
         border: 0.05rem solid $font-color;
         vertical-align: middle;
      }

      th {
         width: 12rem;
         background: $banner;
         text-align: left;
         font-size: 1.8rem;
         line-height: calc(30 / 18);
         font-weight: 700;

         @include pc {
            width: 14rem;
         }
      }

      td {
         font-size: 1.8rem;
         line-height: calc(30 / 18);
         font-weight: 500;
      }
   }

   &__comment {
      margin-top: 2.8rem;
      font-size: 1.8rem;
      line-height: calc(30 / 18);
   }

   &__pager {
      margin-top: 3.9rem;

      @include pc {
         margin-top: 6rem;
      }
   }
   &__related-heading {
      margin-top: 0;
   }
}