@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   RESULT-LIST
========================= */
.p-result-list {
    padding: 4.7rem 0 2.5rem;
}
.p-result-list__items {
    margin-top: 4.9rem;
    display: flex;
    flex-direction: column;
    row-gap: 4.1rem;

    @include pc {
        margin-top: 3.8rem;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10.6rem;
        row-gap: 6.1rem;
        justify-content: flex-start;
    }
}
.p-result-list-item__link {
    @include pc {
        display: flex;
        flex-direction: column;
    }
    
    .p-blog-item__image {
        @include pc {
            width: 100%;
            flex-shrink: 1;
        }
    }
    h3 {
        margin-top: 2rem;
    }
    time {
        margin-top: 1rem;
    }
}

.p-result-list__pagination {
    margin-top: 6.1rem;
    margin-bottom: 17.2rem;
    @include pc {
        margin-top: 7.1rem;
    }
}