@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   SEARCH
========================= */
.p-search-result {
    padding: 3.3rem 0 20.4rem;

    @include pc {
        padding: 6.6rem 0 6.6rem;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title,
    &__count {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        font-weight: 500;

        span {
            font-weight: 700;
        }
    }

    .p-blog__contents {
        margin-top: 4.2rem;
    }

    .p-blog-item__item {
        @include pc {
            display: flex;
            align-items: flex-start;
            column-gap: calc(50 / 880 * 100%);
        }
    }

    .p-blog-item__image {
        @include pc {
            width: 26rem;
            flex-shrink: 0;
        }
    }

    .p-blog-item__body {
        @include pc {
            flex: 1;
            padding-top: 0;
        }
    }

    &__text {
        margin-top: 0.8rem;

        @include pc {
            margin-top: 1.2rem;
        }
    }
}