@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   SEARCH
========================= */
.p-search-result {
    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.3rem;

        @include pc {
            margin-top: 6.6rem;
        }
    }

    &__title,
    &__count {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        font-weight: 500;

        span {
            font-weight: 700;
        }
    }

    .p-blog__contents {
        margin-top: 4.2rem;
    }

    &__text {
        margin-top: 0.8rem;

        @include pc {
            margin-top: 1.2rem;
        }
    }
}