@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   VOICE
========================= */
.p-voice {
   h2 {
      margin-bottom: 3.9rem;
   }
   &__slider {
      @include pc {
         max-width: 1000px;
         margin: 0 auto;
         position: relative;
      }
   }
   &__image {
      margin-bottom: 2.7rem;
   }
   &__body {
      h3 {
         font-size: 2.2rem;
         line-height: calc(33 / 22);
         font-weight: 700;
         color: $font-color02;
         text-align: center;
      }
      p {
         font-size: 1.8rem;
         line-height: calc(30 / 18);
         font-weight: 500;
         color: $font-color02;
      }
   }
   .swiper-button-prev,
   .swiper-button-next {
      width: 2.04rem;
      height: 2.98rem;
      opacity: 0.5;
      top: 16.3rem;
      transform: translateY(-50%);
      @include pc {
         top: 15.3rem;
      }
   }
   .swiper-button-prev {
      left: -5rem;
   }
   .swiper-button-next {
      right: -5rem;
   }
   .swiper-button-prev::after,
   .swiper-button-next::after {
      content: "";
   }
   
   /* ＞ */
   .swiper-button-next::before,
   .swiper-button-next::after {
      content: "";
      position: absolute;
      top: calc(50% - 0.35rem);
      right: 0;
      width: 2.49rem;
      height: 0.7rem;
      border-radius: 9999px;
      background-color: #fff;
      transform-origin: calc(100% - 0.35rem) 50%;
   }
   .swiper-button-next::before {
      transform: rotate(38.2deg);
   }
   .swiper-button-next::after {
      transform: rotate(-38.2deg);
   }
   /* ＜ */
   .swiper-button-prev::before,
   .swiper-button-prev::after {
      content: "";
      position: absolute;
      top: calc(50% - 0.35rem);
      left: 0;
      width: 2.49rem;
      height: 0.7rem;
      border-radius: 9999px;
      background-color: #fff;
      transform-origin: 0.35rem 50%;
   }
   .swiper-button-prev::before {
      transform: rotate(38.2deg);
   }
   .swiper-button-prev::after {
      transform: rotate(-38.2deg);
   }
}