@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   FAQ
========================= */
.p-faq {
    &__contents {
        margin-top: 4rem;
    }
    &__item {
        border-top: 0.5px solid;
        &:last-child {
            border-bottom: 0.5px solid;
        }
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 2.25rem;
        position: relative;
        padding: 1.7rem 0;
        list-style: none;
        cursor: pointer;
    }
    &__title {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        font-weight: 500;
    }
}