@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   CONCEPT
========================= */
.p-concept {
    padding: 4.5rem 0;
    &__inner {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    &__head {
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: calc(40 / 25);
            font-weight: 600;
            color: $main-color;
        }
        p {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
        }
    }
    &__items {
        position: relative;
    }
    /* =========================
        ARROW
    ========================= */
    &__arrow {
        position: absolute;
        top: -1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 3rem;
        height: 1.5rem;
        z-index: 2;
    }
    &__arrow::before,
    &__arrow::after {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 1px);
        width: 3px;
        height: 2rem;
        border-radius: 9999px;
        background: $main-color;
        transform-origin: center top;
    }
    &__arrow::before {
        transform: rotate(45deg);
    }
    &__arrow::after {
        transform: rotate(-45deg);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        /* 中央線 */
        &::before {
            content: "";
            position: absolute;
            top: -1.5rem;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 3px;
            height: 188px;
            background: $main-color;
        }
    }
    &__item {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 3rem 1fr;
        align-items: center;
        height: 5rem;
    }
    &__en {
        text-align: right;
        font-size: 2rem;
        line-height: calc(50 / 20);
        font-weight: 600;
        color: $main-color;
        padding-right: clamp(1rem, 3vw, 2.5rem);
    }
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__dot {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: $main-color;
    }
    &__jp {
        font-size: 2rem;
        line-height: calc(50 / 20);
        font-weight: 500;
         padding-left: clamp(1rem, 3vw, 2.5rem);
    }
}