@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   ABOUT
========================= */
.p-about {
    color: $font-color02;
    &__contents {
        text-align: center;
    }
    h2 {
        margin-bottom: 1.4rem;
    }
    p {
     line-height: calc(33 / 18); 
    }
}