@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   ABOUT
========================= */
.p-about {
    background: $main-color;
    color: $font-color02;
    &__contents {
        text-align: center;
    }
    p {
     line-height: calc(33 / 18);   
    }
}