@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   VOICE
========================= */
.p-voice {

   &__inner {
      padding: 4.6rem 2rem 5rem;

      @include pc {
         max-width: 104rem;
         margin-inline: auto;
         padding: 4.4rem 6.5rem 8rem;
      }
   }

   &__slider-wrap {
      position: relative;
      margin-top: 3.9rem;

      @include pc {
         max-width: 88.2rem;
         margin-top: 3.5rem;
         margin-inline: auto;
      }
   }

   &__slider {
      @include pc {
         width: 100%;
      }
   }

   /* =========================
    VOICE CARD
    ========================= */
   &__card {
      display: block;

      @include pc {
         width: 100%;

         &:hover {
            .p-voice__image img {
               transform: scale(1.1);
               opacity: 0.7;
            }

            .p-voice__body {
               opacity: 0.7;
            }
         }
      }
   }

   /* =========================
    VOICE CARD
    ========================= */
   &__image {
      overflow: hidden;

      img {
         width: 100%;
         aspect-ratio: 335 / 200;
         object-fit: cover;
         display: block;
         transition: transform 0.4s ease;

         @include pc {
            aspect-ratio: 270 / 190;
         }
      }
   }

   /* =========================
    BODY
    ========================= */
   &__body {
      margin-top: 2.7rem;

      @include pc {
         margin-top: 1.8rem;
         transition: opacity 0.4s ease;
      }

      h3 {
         font-size: 2.2rem;
         line-height: calc(33 / 22);
         font-weight: 700;
         color: $font-color02;
         text-align: center;

         @include pc {
            font-size: 2.2rem;
         }

         @include tab-only {
            font-size: 1.6rem;
         }
      }

      p {
         margin-top: 1rem;
         font-size: 1.8rem;
         line-height: calc(30 / 18);
         font-weight: 500;
         color: $font-color02;

         @include pc {
            font-size: 1.8rem;
            width: calc(100% + 4px);
         }

         @include tab-only {
            font-size: 1.5rem;
         }
      }
   }

   /* =========================
    SWIPER ARROW
    ========================= */
   .swiper-button-prev,
   .swiper-button-next {
      width: 2.8rem;
      height: 4rem;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      opacity: 1;
      position: absolute;
      z-index: 10;

      &::after {
         display: none;
      }

      @include hover-opacity;
   }

   .swiper-button-prev {
      background-image: url("../images/top/arrow-l-sp.svg");
      top: 42%;
      left: 0.2rem;

      @include pc {
         top: 50%;
         left: -2.8rem;
      }
   }

   .swiper-button-next {
      background-image: url("../images/top/arrow-r-sp.svg");
      top: 42%;
      right: 0.2rem;

      @include pc {
         top: 50%;
         right: -2.8rem;
      }
   }

   /* =========================
    SWIPER ARROW
    ========================= */
   .swiper,
   .swiper-wrapper,
   .swiper-slide {
      height: auto;
   }
}
