@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   ABOUT
========================= */
.p-about {
    color: $font-color02;
    @include pc {
        padding: 6.8rem 0 6rem 0;
    }
    &__contents {
        text-align: center;
    }
    p {
        font-size: 1.8rem;
        line-height: calc(30 / 18);
        font-weight: 500;
        margin-top: 1.4rem;
    }
}