@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   CONCEPT
========================= */
.p-concept {
    padding: 4.5rem 0;
    &__inner {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    &__head {
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: calc(40 / 25);
            font-weight: 600;
            color: $main-color;
        }
        p {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
        }
    }
}