@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   FAQ
========================= */
.p-faq {
    &__contents {
        margin-top: 4rem;
    }
    &__item {
        border-top: 0.5px solid;
        &:last-child {
            border-bottom: 0.5px solid;
        }
    }
    &__summary {
        display: flex;
        align-items: center;
        gap: 2.25rem;
        position: relative;
        padding: 1.7rem 0;
        list-style: none;
        cursor: pointer;
        &::-webkit-details-marker {
            display: none;
        }
    }
    &__icon {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        color: $font-color;

        font-size: 2rem;
        line-height: calc(30 / 20);
        font-weight: 600;
        &--q {
            color: $font-color02;
            background: $font-color;
        }
        &--a {
            color: $font-color02;
            background: $main-color;
        }
    }
    &__title {
        font-size: 1.6rem;
        line-height: calc(30 / 16);
        font-weight: 500;
    }
    &__btn {
        position: relative;
        display: inline-block;
        width: 1.36rem;
        height: 0.92rem;
        flex-shrink: 0;
        margin-left: auto;

        &::before,
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 2px;
            height: 1.11rem;
            border-radius: 9999px;
            background-color: $font-color;
            transform-origin: center bottom;
            transition: transform 0.3s;
        }
        &::before {
            transform: translateX(-50%) rotate(45deg);
        }
        &::after {
            transform: translateX(-50%) rotate(-45deg);
        }
    }
    &__summary.is-active {
        .p-faq__btn {
            &::before {
                transform: translateX(-50%) rotate(-45deg);
            }
            &::after {
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }

    &__answer {
        display: flex;
        gap: 2rem;
        padding: 1.7rem 4.7rem 0.9rem 0;
        background: #f8e9e9;
        align-items: center;
    }
    &__content {
        width: 100%;

        p {
            font-weight: 600;
            color: $main-color;
        }
    }
}