@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   BLOG
========================= */
.p-blog {
    &__contents {
        margin-top: 3.6rem;
    }
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 4.1rem;
        @include pc {
            flex-direction: row;
            column-gap: calc(50 / 880 * 100%);
            width: 100%;
            justify-content: flex-start;
        }
    }
    &__item {
        width: 100%;
        @include pc {
            width: calc((100% - 6rem) / 3);
            box-sizing: border-box;
        }
    }
}