@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   CONCEPT
========================= */
.p-concept {
    padding: 4.5rem 0;
    &__inner {
        max-width: 1080px;
        margin: 0 auto;
        padding: 0 2rem;
    }
    &__head {
        text-align: center;
        h2 {
            font-size: 2.5rem;
            line-height: calc(40 / 25);
            font-weight: 600;
            color: $main-color;
        }
        p {
            font-size: 1.8rem;
            line-height: calc(30 / 18);
        }
    }
    /* =========================
       ITEMS
    ========================= */
    &__items {
        margin-top: 6rem;
    }
    &__list {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 5rem;

        /* 中央線 */
        &::before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 1px;
            background: $main-color;
        }
         /* 矢印 */
         &::after {
            content: "";
            position: absolute;
            top: -0.5rem;
            left: 50%;
            width: 1rem;
            height: 1rem;
            border-top: 2px solid $main-color;
            border-right: 2px solid $main-color;
            transform: translateX(-50%)
                       rotate(-45deg);
         }
    }
    &__item {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: 1fr 3rem 1fr;
        align-items: center;
    }
    &__en {
        text-align: right;
        font-size: 2rem;
        font-weight: 600;
        color: $main-color;
    }
    &__center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}