@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* =========================
   pagination
========================= */
.p-pagination {
    margin: 6rem 0 20.3rem;
    @include pc {
        margin: 0.7rem 0 21rem;
    }
    &__list {
        display: flex;
        justify-content: center;
        column-gap: 0.5rem;
    }
    &__item {
        a,
        span {
            width: 4.4rem;
            height: 4.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $font-color;
            line-height: calc(28 / 16);
            font-weight: 700;
            transition: .4s; 
        }
        // 現在ページ
        &.is-current {
            span {
                background-color: $font-color;
                color: $font-color02;
            } 
        }
        a {
            color: $font-color;
            @include pc {
                &:hover {
                    background-color: $font-color;
                    color: $font-color02;
                }
            }
        }
    }
    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: calc(28 / 16);
        font-weight: 700;
        padding : 0 0.3rem;
    }
}