@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

/* =========================
   HEADER
========================= */
.l-header {
    width: 100%;
    height: 5rem;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @include pc {
        height: 8rem;
    }

    &__inner {
        max-width: 1080px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

        @include pc {
            padding: 0 10rem;
        }

        @include tab-only {
            padding: 0 2rem;
        }
    }

    /* =========================
       LOGO
    ========================= */
    &__logo a {
        display: flex;
        align-items: center;
        column-gap: 0.95rem;
        height: 5rem;
        transition: opacity 0.4s ease;

        &:hover {
            opacity: 0.6;
        }
        @include sp {
            &:hover {
                opacity: 1;
            }
        }
    }

    /* =========================
       PC NAV
    ========================= */
    &__nav {
        display: none;

        @media (min-width: 768px) {
            display: block;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 3.3rem;

            a {
                font-size: 1.7rem;
                font-weight: 600;
                color: $font-color;

                &:hover {
                    opacity: 0.7;
                }
            }

            .is-contact a {
                font-size: 1.5rem;
                background: $main-color;
                color: $font-color02;
                padding: 1rem 3rem;
            }
        }
    }

    /* =========================
       SP NAV
    ========================= */
    &__sp-nav {
        position: fixed;
        width: 30rem;
        top: 5rem;
        right: 0;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        background: $main-color;
        z-index: 2000;

        &.active {
            transform: translateX(0);
        }

        &-lists {
            margin: 0;
            list-style: none;
            font-weight: 500;

            a {
                color: $font-color02;
                display: block;
                padding: 1.5rem 0 1rem 2rem;
            }
        }
    }

    /* =========================
       HAMBURGER
    ========================= */
    &__hamburger {
        position: relative;
        z-index: 9999;
        display: block;

        @include pc {
            display: none;
        }

        .c-hamburger {
            position: fixed;
            top: 0;
            right: 0;
            width: 7.1rem;
            height: 5rem;
            background: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10000;

            .c-hamburger__line,
            .c-hamburger__line::before,
            .c-hamburger__line::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 3.2rem;
                height: 0.4rem;
                background: $font-color02;
                border-radius: 10px;
                transition: 0.3s;
                display: block;
            }

            .c-hamburger__line {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }

            .c-hamburger__line::before {
                top: -1.2rem;
            }

            .c-hamburger__line::after {
                top: 1.2rem;
            }

            /* ACTIVE（×変形） */
            &.active {

                .c-hamburger__line {
                    background: transparent;
                }

                .c-hamburger__line::before {
                    top: 0;
                    transform: rotate(45deg);
                }

                .c-hamburger__line::after {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}