@use "../foundation/variables" as *;

.l-header {
    width: 100%;
    height: 5rem;
    display: flex;
    background: #fff;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 0;
    
    &__inner {
        padding: 0 2rem;
    }

    &__logo {
         a {
            display: flex;
            align-items: center;
            column-gap: 0.95rem;
            height: 5rem;
            transition: opacity 0.4s ease;
            &:hover {
                opacity: 0.6;
            }
        }
    }
    &__logo-image {
        width: 2rem;
    }
    // SPナビ
    &__sp-nav {
        position: fixed;
        width: 30rem;
        top: 5rem;
        right: 0;
        overflow: hidden;
        transform: translateX(100%);
        transition: transform 0.4s ease;
        z-index: 2000;
        &-list {
            margin: 0;
            text-align: left;
            list-style: none;
            font-weight: 500;
            a {
                color: $font-color02;
                text-decoration: none;
                padding: 1.2rem 0 1.3rem 2rem;
                transition: background-color 0.3s ease, opacity 0.3s ease;

                &::hover {
                    background-color: $font-color;
                    opacity: 0.7;
                }
            }
        }
        &.active {
            display: block;
            background: $main-color;
            transform: translateX(0);
        }
    }

    // ハンバーガーメニュー
    &__hamburger {
        position: relative;
        z-index: 9999;
        
        .c-hamburger {
            position: fixed;
            top: 0;
            right: 0;
            width: 7.1rem;
            height: 5rem;
            background: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10000;

            // 三本線
            .c-hamburger__line,
            .c-hamburger__line::before,
            .c-hamburger__line::after {
                content: "";
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 3.2rem;
                height: 0.4rem;
                background: $font-color02;
                border-radius: 10px;
                transition: 0.3s;
                display: block;
            }
            // 中央
            .c-hamburger__line {
                top: 50%;
                transform: translateY(-50%);
            }
            // 上
            .c-hamburger__line::before {
                top: -1.2rem;

            }
            // 下
            .c-hamburger__line::after {
                top: 1.2rem;

            }
            // メニューが開いた時の三本線
            &.active {
                .c-hamburger__line {
                    background: transparent;
                }
                .c-hamburger__line::before {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }
                .c-hamburger__line::after {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }
}

