@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

.l-inner {
    padding: 5rem 2rem 4rem;
    @include pc {
        padding: 0 10rem;
    }
    @include tab-only {
        padding: 0 2rem;
    }
}