@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

/* =========================
   MAIN
========================= */
/* FVなしページ専用 */
.c-breadcrumb--no-fv {
    padding-top: 5.5rem;
    @include pc {
        padding-top: 9rem;
        padding-bottom: 1rem;
        display: flex;
        text-align: center;
    }
}